<h1>Here are the products you are added</h1>
    <div ng-controller="cartCtrl">
        
           <p>Total Added Cart Items {{getCount}}</p>
    
        <table class="table table-stripped">
        
        <tr ng-repeat="y in getData">
            <td>{{y.Name}}</td>
            <td>{{y.modelName}}</td>
            <td>{{y.modelPrice}}</td>
            <td><img ng-src="{{y.imageUrl}}" width="40"height="50"></td>
            
        </tr>
        
        
        </table>
   <!-- <div ng-repeat="y in getData">
        
            <div>
               <h3>{{y.Name}}</h3>
               <h3>{{y.modelName}}</h3>
               </div>
            


    </div>-->
        
</div>